<div id="mapContainer" class="loading">
    <div id="map"></div>
    <canvas id="mapOverlayCanvas"></canvas>
    <div id="placeButtons"></div>
    <div id="mapScales"></div>
    <div id="timeSlideContainer">
        <div id="timePopup">09:00 UTC</div>
        <div id="modelInfo">iFlood data generated 00:00 UTC, 0000-00-00. Third party data may be older.</div>
        <button id="playPauseButton" class="play"></button>
        <div id="timeSlider">
            <canvas id="timeSliderBG"></canvas>
            <canvas id="timeSliderHandle" width="20" height="20"></canvas>
        </div>
        <button id="maxButton">Max</button>
    </div>
    <div id="mapLayerBar">
        <div id="expandButton"></div>
        <div id="layerScroll">
            <div id="layerScrollContent">
                <div id="layerErrorBox">Some data failed to load.</div>
                <div id="markerToggleBox">
                    Forecast Stations
                    <div id="markerToggleContainer">
                        <div id="stationMarkerToggle" title="Station Markers" class="markerToggle showing"></div>
                        <div id="buoyMarkerToggle" title="Buoy Markers" class="markerToggle showing"></div>
                    </div>
                </div>
                <div id="layerInfo">
                </div>
                <div id="layerTiles">
                </div>
            </div>
            <div id="logoBox">
                <a href="https://gmu.edu/"><img src="/GMUfourcolor.svg"></a>
            </div>
        </div>
    </div>
    <div id="messageBoxFade" class="show"></div>
    <div id="welcomeMessageBox" class="messageBox">
        <h2>Notice</h2>
        <p>
            The products provided here are for educational and scientific research only and should not be used for decision making in their present form.
        </p>
        <button class="messageButton dismissButton">Got it!</button>
    </div>
</div>

<script id="templateLayerInfo" type="text/x-jsrender">
    <div class="layerItem">
        <div class="bgContain">
            <div class="bg" style="background-image: url('{{:img}}')"></div>
        </div>
        <div class="titleBar">
            <button class="closeButton"></button>
            <div class="title">{{:displayName}}</div>
            <canvas class="infoCanvas" width="80" height="20"></canvas>
        </div>
        <div class="description">{{:description}}</div>
        {{if hasParticles}}
            <div class="checkboxRow checkbox">
                <input id="particleToggle{{:~uniqueID()}}" type="checkbox" name="particleToggle" class="particleToggle" value="On"> <label for="particleToggle{{:~uniqueID()-1}}">Show Vectors</label>
            </div>
        {{/if}}
        <a class="dataButton" target="_blank">Raw Data</a>
    </div>
</script>

<script id="templateLayerTile" type="text/x-jsrender">
    <button class="layerTile">
        <div class="tileImg" style="background-image: url('{{:img}}')">
            <div class="cover"></div>
        </div>
        <div class="title">{{:displayName}}</div>
    </button>
</script>

<script id="templatePopupTabs" type="text/x-jsrender">
    <div class="mapPopupTabs">
        {{if hasWater}}
            <div class="tab" id="mapPopupTabWater" role="button" tabindex="0">Water Level</div>
        {{/if}}
        {{if hasWind}}
            <div class="tab" id="mapPopupTabWind" role="button" tabindex="0">Wind</div>
        {{/if}}
        {{if hasWaves}}
            <div class="tab" id="mapPopupTabWaves" role="button" tabindex="0">Waves</div>
        {{/if}}
        {{if hasValidation}}
            <div class="tab" id="mapPopupTabValidation" role="button" tabindex="0">Validation</div>
        {{/if}}
    </div>
    {{if hasWater}}
        <div class="mapPopupContent" id="mapPopupContentWater"></div>
    {{/if}}
    {{if hasWind}}
        <div class="mapPopupContent" id="mapPopupContentWind"></div>
    {{/if}}
    {{if hasWaves}}
        <div class="mapPopupContent" id="mapPopupContentWaves"></div>
    {{/if}}
    {{if hasValidation}}
        <div class="mapPopupContent" id="mapPopupContentValidation"></div>
    {{/if}}
</script>

<script id="templatePlaceButton" type="text/x-jsrender">
    <div class="placeButton" role="button">
        <div class="placeImg" style="background-image: url('{{:img}}')"></div>
        <div class="title">{{:displayName}}</div>
    </div>
</script>

<script id="templateHurricaneInfo" type="text/x-jsrender">
    <div class="hurricaneInfo">
        <b>{{:name}}</b><br>
        Max Wind: {{:maxwind}} knots<br>
        Wind Gusts: {{:gusts}} knots<br>
        {{if pressure != 9999}}
            Minimum Pressure: {{:pressure}} mb<br>
        {{/if}}
        <br>
        {{:time.format("ddd HH:mm [UTC]")}}
    </div>
</script>

<script defer src="mapstyles.js"></script>
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiVbvW_iR0XpeBe-ojS7NjxMEDkpf0BOA&libraries=geometry"></script>

<script defer src="/moment.min.js"></script>
<script defer src="/plotly-latest.min.js"></script>
<script defer src="/arcgislink_compiled.js"></script>

<script defer src="mapdata.js"></script>
<script defer src="map.js"></script>