<h1>Alerts</h1>
<h2 class="subhead gap">Get notified about flood risks in your area</h2>
<label class="smallLabel" for="primaryContactInput">Phone number or email:</label>
<input id="primaryContactInput" class="niceInput" type="text" size="22" autofocus tabindex="1"><div id="contactIcon"></div>
<div id="phoneNotice">Include +country code if outside US</div>

<div id="alertArea" class="disabled">
    <div id="mapContainer">
        <div id="map"></div>
    </div>
    <div id="alertSelector">
        <div class="smallLabel" >Alert me about:</div>
        <div id="chosenAlerts">
        </div>
        <div id="addMenu">
            <div class="tile add">Add:</div>
            <button class="tile" id="addLocationButton">
                <img src="icons/home.svg" width="64">
                Location
            </button>
            <button class="tile" id="addWaterButton">
                <img src="icons/water.svg" width="64">
                Water
            </button>
            <button class="tile" id="addWavesButton">
                <img src="icons/waves.svg" width="64">
                Waves
            </button>
        </div>
        <div id="submitBar">
            <div id="submitError"></div>
            <button id="submitAlertsButton">Enable</button>
        </div>
    </div>
</div>

<div id="successMessage" class="hide">
    <div class="headline">Almost There!</div>
    <div class="details">Now just click the link we sent to {primary} to confirm your registration.</div>
</div>

<div id="updateMessage" class="hide">
    <div class="headline">Success!</div>
    <div class="details">Your subscription for {primary} has been updated.</div>
</div>

<script id="templateAlertBoxLocation" type="text/x-jsrender">
    <div class="alertBox location hide">
        <button class="closeButton"></button>
        <img src="icons/home.svg">
        <div class="alertInfo">
            <input class="niceInput addressInput" title="address" type="text" tabindex="2">
            <div class="smallLabel addressDisplay"></div>
        </div>
    </div>
</script>

<script id="templateAlertBoxWater" type="text/x-jsrender">
    <div class="alertBox water hide">
        <button class="closeButton"></button>
        <img src="icons/water.svg">
        <div class="alertInfo">
            <select class="niceInput stationSelect" title="address" type="text" tabindex="2">
            </select>
            <div class="smallLabel thresholdLabel">Threshold</div>
            <div class="thresholdBar">
                <button class="choice action">Action</button>
                <button class="choice minor selected">Minor</button>
                <button class="choice moderate">Moderate</button>
                <button class="choice major">Major</button>
            </div>
        </div>
    </div>
</script>

<script id="templateAlertBoxWaves" type="text/x-jsrender">
    <div class="alertBox water hide">
        <button class="closeButton"></button>
        <img src="icons/waves.svg">
        <div class="alertInfo">
            <select class="niceInput stationSelect" title="address" type="text" tabindex="2">
            </select>
            <div class="smallLabel thresholdLabel">Threshold</div>
            <div class="thresholdBar">
                <button class="choice wavesAction selected">Action</button>
                <button class="choice wavesMajor">Major Swell</button>
            </div>
        </div>
    </div>
</script>

<script defer src="/jquery-3.3.1.min.js"></script>
<script defer src="/jsrender.min.js"></script>
<script defer src="/map/mapstyles.js"></script>
<script defer src="/map/mapdata.js"></script>
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiVbvW_iR0XpeBe-ojS7NjxMEDkpf0BOA&libraries=places"></script>
<script defer src="alerts.js"></script>