<h1>Alerts</h1>
<h2 class="subhead gap">Get notified about flood risks in your area</h2>
<label class="smallLabel" for="primaryContactInput">Phone number or email:</label>
<input id="primaryContactInput" class="niceInput" type="text" size="22" autofocus><div id="contactIcon"></div>
<div id="phoneNotice">Include +country code if outside US</div>

<div id="alertArea">
    <div id="map"></div>
    <div id="alertSelector">
        <div class="smallLabel" >Alert me about:</div>
        <div id="chosenAlerts">
            <div class="alertBox location">
                <img src="icons/home.svg">
                <div class="alertInfo">
                    <input class="niceInput" title="address" type="text">
                    <div class="smallLabel">Enter an address</div>
                </div>
            </div>
            <div class="alertBox location">
                <img src="icons/home.svg">
                <div class="alertInfo">
                    <input class="niceInput" title="address" type="text">
                    <div class="smallLabel">Enter an address</div>
                </div>
            </div>
            <div class="alertBox location">
                <img src="icons/home.svg">
                <div class="alertInfo">
                    <input class="niceInput" title="address" type="text">
                    <div class="smallLabel">Enter an address</div>
                </div>
            </div>
            <div class="alertBox location">
                <img src="icons/home.svg">
                <div class="alertInfo">
                    <input class="niceInput" title="address" type="text">
                    <div class="smallLabel">Enter an address</div>
                </div>
            </div>
        </div>
        <div id="addMenu">
            <div class="tile add">Add:</div>
            <button class="tile">
                <img src="icons/home.svg" width="64">
                Location
            </button>
            <button class="tile">
                <img src="icons/station.svg" width="64">
                Station
            </button>
        </div>
    </div>
</div>

<script src="/map/mapstyles.js"></script>
<script src="/map/mapdata.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiVbvW_iR0XpeBe-ojS7NjxMEDkpf0BOA&v=quarterly"></script>
<script src="/jquery-3.3.1.min.js"></script>
<script src="alerts.js"></script>