<!doctype html>
<html lang="en">
<head>
    <%- partial("_headTag") %>
</head>
<body>
    <%- partial("_header") %>
    <div id="content">
    <%- yield %>
    </div>
    <%- partial("_footer") %>
</body>
</html>