<h1>Coastal Erosion Forecast System powered by XBEACH + ADCIRC + WW3</h1>
<h2>Hydrodynamic Model</h2>
<p>
    The Mason Flood Hazards Research Lab has been studying storm surge and waves attenuation in the marshes of Magothy Bay
    Natural Area Preserve for the last 3 years. Our group has extensively monitored the hydrodynamic regime in the marshes
    and documented several hurricanes and storms.
</p>
<p>
    This system is under development and it will provide coastal erosion forecasts for Croatan Beach in Virginia Beach,
    Virginia using the XBEACH 1D model. The system is running 4 times a day and provides topo/bathymetric (coastal erosion)
    and coastal flooding forecasts for the next 84 hours. It utilizes the Mason Flood Hazards Chesapeake Bay Flood Forecasting
    system as a boundary condition.
</p>
<p>
    The results provided here are produced by running the XBEACH model in hydrostatic mode, including the sediment transport
    module, and a wave boundary condition based on the Jon swap spectrum. This current version of the model is yet to be
    calibrated. Future work includes improvements on the model set-up, model calibration and validation and additional cross
    sections in the area.
</p>
<p>
    The Croatan Beach coastal flooding and erosion forecast system is an experimental model developed to predict water levels,
    waves and beach profile changes from coastal storms in Virginia Beach. This system was created based on an estimated
    bathymetric profile. Our group is planning to perform field-based bathymetric surveys of the area and to install a
    water-level and waves monitoring sensor. Our group is currently working on calibrating this model and updates will be
    published in this website as they become available.
</p>