<h1>About Us</h1>
<p>Research and educational systems supporting the development of the next generation of real time flood forecast systems, capable of providing accurate, timely and reliable information to support emergency management and response in areas impacted by multi-flood hazards. Our students are working on the complex dynamics of multi-flood hazards including storm surges, riverine flow, tidal oscillation and urban storm water systems. Our final goal is to develop integrated computational tools capable of predicting the total water levels resulting from the interaction of these systems in real time and into the future. The products provided here are for educational and scientific research only and should not be used for decision making in its present form. The models, methods and results published here are under constant testing, development and subject to educational and training exercises on real time.</p>

<h1>Developers</h1>
<div class="profileRow prof">
    <div class="profileImage">
        <a href="http://civil.gmu.edu/wp-content/uploads/2012/07/Portrait-2013-Ferreira.jpg"><img alt="Dr. Celso Ferreira" src="http://civil.gmu.edu/wp-content/uploads/2012/07/Portrait-2013-Ferreira-203x300.jpg"></a>
    </div>
    <div class="profileDetails">
        <h2>Celso Ferreira</h2>Assistant Professor, Water Resources Engineering<br>
        Telephone: (703) 993-1782<br>
        Fax: (703) 993-9790<br>
        Email: <a href="mailto:cferrei3@gmu.edu">cferrei3@gmu.edu</a><br>
        1411 Nguyen Engineering Building<br>
        <a href="http://frg.vse.gmu.edu">Ferreira Research Group Website</a>
    </div>
</div>

<h2>Doctoral Students</h2>
<div class="profileRow">
    <div class="profileImage">
        <a href="Juan.jpg"><img src="Juan.jpg"></a>
    </div>
    <div class="profileDetails">
        <h2>Juan Luis Garzon Hervas</h2>
        Ph.D Student, Dept. of Civil, Environmental & Infrastructure Engineering<br/>
        Telephone: (571) 363-6019<br>
        Email: <a href="mailto:jgarzon3@gmu.edu">jgarzon3@gmu.edu</a><br>
        1411 Nguyen Engineering Building, Suite 1414<br>
        <a href="http://mason.gmu.edu/~jgarzon3/" >Personal Research Web Page</a>
    </div>
</div>
<div class="profileRow">
    <div class="profileImage">
        <a href="Seth.jpg"><img src="Seth.jpg"></a>
    </div>
    <div class="profileDetails">
        <h2>Seth Lawler</h2>
        M.S. Civil and Environmental Engineering<br>
        <br>
        Water Resources Engineer<br>
        Resilience Solutions Group<br>
        Dewberry<br>
        <br>
        Telephone: 703.849.0213<br>
        Email: <a href="mailto:slawler@Dewberry.com">slawler@Dewberry.com</a><br/>
        8401 Arlington Blvd, Fairfax, VA 22031<br/>
        <a href="https://slawler.github.io/" >Personal Research Web Page</a>
        <a href="www.dewberry.com">www.dewberry.com</a>
    </div>
</div>
<div class="profileRow">
    <div class="profileImage">
        <a href="selina.jpg"><img src="selina.jpg"></a>
    </div>
    <div class="profileDetails">
        <h2>Selina Jahan Sumi</h2>
        M.S. in Civil Engineering, University of Louisiana at Lafayette, Louisiana, USA<br>
        Telephone: 703.849.0213<br>
        Email: <a href="mailto:ssumi@masonlive.gmu.edu">ssumi@masonlive.gmu.edu</a><br>
        1411 Nguyen Engineering Building, Suite 1414<br>
    </div>
</div>
<div class="profileRow">
    <div class="profileImage">
        <a href="Arslaan.jpg"><img src="Arslaan.jpg"></a>
    </div>
    <div class="profileDetails">
        <h2>Arslaan Khalid</h2>Graduate Assistant<br>
        Telephone: (703)678-9528<br>
        Email: <a href="mailto:akhalid6@gmu.edu">akhalid6@gmu.edu</a><br>
        Flood Hazards Research Lab<br>
        Volgenau School of Engineering, 4400 University Drive<br>
        Nguyen Engineering Building, Suite 4603, MS 6C1<br>
    </div>
</div>

<h2>Master's Students</h2>
<div class="profileRow">
    <div class="profileImage">
        <a href="pp.jpg"><img src="pp.jpg"></a>
    </div>
    <div class="profileDetails">
        <h2>Prachi Gupta</h2>
        Software Engineer<br>
        Graduate  Student, Master of Science in Computer Science<br>
        Computer Science Department, Volgenau School of Engineering<br>
        George Mason University<br>
        Telephone: (571)-635-2563<br>
        Email: <a href="mailto:pgupta13@gmu.edu">pgupta13@gmu.edu</a><br>
        <a href="https://d6peb2sambjsc.cloudfront.net/">Web Link</a><br>
    </div>
</div>

<h2>Undergraduate Students</h2>
<div class="profileRow">
    <div class="profileImage">
        <a href="tmiesse.jpg"><img src="tmiesse.jpg"></a>
    </div>
    <div class="profileDetails">
        <h2>Tyler Miesse</h2>
        Civil, Environmental and Infrastructural Engineering, George Mason University<br>
        Senior (Graduating in Fall 2018) <br>
        Undergraduate Research Assistant <br>
        Telephone: 757.818.0429<br>
        Email: <a href="mailto:tmiesse@masonlive.gmu.edu">tmiesse@masonlive.gmu.edu</a><br>
        1411 Nguyen Engineering Building, Suite 1414<br>
    </div>
</div>

<h2>High School Interns</h2>
<div class="profileRow">
    <div class="profileImage">
        <a href="wang.jpg"><img src="wang.jpg"></a>
    </div>
    <div class="profileDetails">
        <h2>Christine Wang</h2>
        Thomas Jefferson High School<br>
        2016 Mentorship program<br>
    </div>
</div>