<h1>About iFLOOD: Integrated Flood Forecasting Systems</h1>
<h2>Developing the next generation of total water flood forecasts</h2>

<p>The products provided here are for educational and scientific research only and should not be used for decision making in their
    present form. The models, methods and results published here are under constant testing, development and subject to educational
    and training exercises on real time.
</p>
<p>
    The iFLOOD is a scientific experiment and educational tool to incorporate multi-scale and multi-temporal physical process for
    total water predictions, including large scale oceanic process, estuarine hydrodynamics, riverine flows, urban runoff, and
    nearshore waves. It is a constantly evolving framework that combines a multi-model framework providing several flood forecasting
    parameters at a range of temporal scales.
</p>
<p>
    Our goal is to develop research and educational systems supporting the creation of the next generation of real time flood forecast
    systems, capable of providing accurate, timely and reliable information to support emergency management and response in areas
    impacted by multi-flood hazards. Our students are working on the complex dynamics of multi-flood hazards including storm surges,
    riverine flow, tidal oscillation and urban storm water systems. IFLOOD is a web based tool that integrates computational models
    capable of predicting the total water levels resulting from the interaction of these systems in real time and into the future.
</p>

<h2>Current operational systems:</h2>
<h3>Regional Scale Chesapeake Bay Flood Forecast System powered by ADCIRC + SWAN + NAM</h3>
<p>
    This system provides flood forecasts for the Chesapeake Bay region utilizing the hydrodynamic model Advanced Circulation Model
    (ADCIRC) and the phase-averaged wave model (SWAN) forced by the atmospheric model North American Mesoscale (NAM) from NOAA. The
    system is run 2 times a day and provides water level forecasts for 84 hours into the future. The system is based on the numerical
    mesh especially designed to the Chesapeake Bay.
</p>
<a href="chesapeake">Read More</a>

<h3>Potomac River Flood Forecast System powered by ADCIRC + NAM + AHPS</h3>
<p>
    This system provides flood forecasts for the tidal region of the Potomac River spanning from Lewsieta to Little Falls covering
    the Washington Metropolitan region, including coastal areas of the National Capital, Alexandria and Arlington. The system utilizes
    the hydrodynamic model Advanced Circulation Model (ADCIRC) with a numerical mesh specifically design to the Potomac River. The
    system is run 2 times a day and provides water levels forecasts for 84 hours into the future. The predictions include tidal
    conditions, river flows and river forcing.
</p>

<h3>Coastal Erosion Forecast System powered by XBEACH + ADCIRC + WW3</h3>
<p>This system provides coastal flood and erosion forecasts for the Magothy Bay Natural Area Preserve and for Croatan beach in
    Virginia Beach using the XBEACH 1D model. The system is run 4 times a day and provides topo/bathymetric (coastal erosion) and coastal
    flooding forecasts for the next 84 hours. It utilizes the Mason Flood Hazards Chesapeake Bay Flood Forecasting system as a boundary
    condition. This system is under development.
</p>
<a href="coastal">Read More</a>

<h1>Developers</h1>
<div class="profileRow prof">
    <div class="profileImage">
        <a href="celso.jpg"><img alt="Dr. Celso Ferreira" src="celso.jpg"></a>
    </div>
    <div class="profileDetails">
        <h2>Celso Ferreira</h2>Associate Professor, Water Resources Engineering<br>
        Telephone: (703) 993-1782<br>
        Fax: (703) 993-9790<br>
        Email: <a href="mailto:cferrei3@gmu.edu">cferrei3@gmu.edu</a><br>
        1411 Nguyen Engineering Building<br>
        <a href="http://frg.vse.gmu.edu">Ferreira Research Group Website</a>
    </div>
</div>

<div class="developerGrid">
    <div class="profileBox">
        <div class="profileImage" style="background-image: url('Arslaan.jpg');"></div>
        <div class="name">Arslaan Khalid</div>
        <div class="profileDetails">
            Forecast Model Developer<br><br>
            Telephone: (703)678-9528<br>
            Email: <a href="mailto:akhalid6@gmu.edu">akhalid6@gmu.edu</a><br>
        </div>
    </div>
    <div class="profileBox">
        <div class="profileImage" style="background-image: url('william.jpg');"></div>
        <div class="name">William O'Connell</div>
        <div class="profileDetails">
            Web Developer<br><br>
            Thomas Jefferson High School<br>
            2018 Mentorship Program<br>
            <br>
            Email: <a href='&#109;ailto&#58;wil%6&#67;ia%&#54;&#68;%&#52;0&#119;%&#54;9l&#108;iam&#111;co&#110;&#37;6&#69;e&#108;&#108;&#46;me'>will&#105;&#97;&#109;&#64;williamo&#99;onnell&#46;&#109;e</a><br>
            Website: <a href="https://williamoconnell.me">https://williamoconnell.me</a>
        </div>
    </div>
    <div class="profileBox">
        <div class="profileImage" style="background-image: url('tmiesse.jpg');"></div>
        <div class="name">Tyler Miesse</div>
        <div class="profileDetails">
            Forecast Model Developer<br><br>
            Civil, Environmental and Infrastructural Engineering, George Mason University<br>
            Senior (Graduating in Fall 2018) <br><br>
            Telephone: 757.818.0429<br>
            Email: <a href="mailto:tmiesse@masonlive.gmu.edu">tmiesse@masonlive.gmu.edu</a>
        </div>
    </div>
    <div class="profileBox">
        <div class="profileImage" style="background-image: url('Juan.jpg');"></div>
        <div class="name">Juan Luis Garzon Hervas</div>
        <div class="profileDetails">
            Ph.D Student, Dept. of Civil, Environmental & Infrastructure Engineering<br><br>
            Telephone: (571) 363-6019<br>
            Email: <a href="mailto:jgarzon3@gmu.edu">jgarzon3@gmu.edu</a><br>
            <a href="http://mason.gmu.edu/~jgarzon3/" >Personal Research Web Page</a>
        </div>
    </div>
    <div class="profileBox">
        <div class="profileImage" style="background-image: url('Seth.jpg');"></div>
        <div class="name">Seth Lawler</div>
        <div class="profileDetails">
            M.S. Civil and Environmental Engineering<br>
            <br>
            Water Resources Engineer<br>
            Resilience Solutions Group<br>
            Dewberry<br>
            <br>
            Telephone: 703.849.0213<br>
            Email: <a href="mailto:slawler@Dewberry.com">slawler@Dewberry.com</a><br/>
            <a href="https://slawler.github.io/" >Personal Research Web Page</a>
            <a href="http://www.dewberry.com">www.dewberry.com</a>
        </div>
    </div>
    <div class="profileBox">
        <div class="profileImage" style="background-image: url('selina.jpg');"></div>
        <div class="name">Selina Jahan Sumi</div>
        <div class="profileDetails">
            M.S. in Civil Engineering, University of Louisiana at Lafayette<br><br>
            Telephone: 703.849.0213<br>
            Email: <a href="mailto:ssumi@masonlive.gmu.edu">ssumi@masonlive.gmu.edu</a>
        </div>
    </div>
    <div class="profileBox">
        <div class="profileImage" style="background-image: url('pp.jpg');"></div>
        <div class="name">Prachi Gupta</div>
        <div class="profileDetails">
            Software Engineer<br>
            Graduate  Student, Master of Science in Computer Science<br>
            George Mason University<br>
            Telephone: (571)-635-2563<br>
            Email: <a href="mailto:pgupta13@gmu.edu">pgupta13@gmu.edu</a><br>
            <a href="https://d6peb2sambjsc.cloudfront.net/">Web Link</a><br>
        </div>
    </div>
    <div class="profileBox">
        <div class="profileImage" style="background-image: url('wang.jpg');"></div>
        <div class="name">Christine Wang</div>
        <div class="profileDetails">
            Thomas Jefferson High School<br>
            2016 Mentorship Program<br>
        </div>
    </div>
</div>

<h1>Special Thanks</h1>
<p>GMU iFLOOD uses icons by <a href="https://thenounproject.com/web11/">JEREMIE SOMMET</a> from <a href="https://thenounproject.com/">The Noun Project</a>.</p>
<p>Some map data uses color schemes from <a href="https://arxiv.org/abs/1509.03700">Peter Kovesi. Good Colour Maps: How to Design Them.</a></p>

<script src="/jquery-3.3.1.min.js"></script>
<script>
    function size() {
        let idealWidth = Math.floor(($('#content')[0].clientWidth-20) / 215 - 1) * 215 + 214;
        $('.developerGrid').css({
            "width": idealWidth + "px"
        });
    }
    $(window).resize(size);
    size();
    $('.profileBox .profileImage').click(function() {
        if ($(this).parent().hasClass('expanded')) {
            $(this).parent().removeClass('expanded');
        }
        else {
            $('.profileBox').removeClass('expanded');
            $(this).parent().addClass('expanded');
        }
    })
</script>