<h1>About iFLOOD: Integrated Flood Forecasting Systems</h1>
<h2>Developing the next generation of total water flood forecasts</h2>

<div class="sideFigureContainer">
    <video autoplay loop muted width="100" height="300" class="sideFigure left hideaway">
        <source src="station.mp4" type="video/mp4">
    </video>
    <div class="sideFigureMain">
        <p>
            The iFLOOD is a scientific experiment and educational tool to incorporate multi-scale and multi-temporal physical process for
            total water predictions, including large scale oceanic process, estuarine hydrodynamics, riverine flows, urban runoff, and
            nearshore waves. It is a constantly evolving framework that combines a multi-model framework providing several flood forecasting
            parameters at a range of temporal scales.
        </p>
        <p>
            Our goal is to develop research and educational systems supporting the creation of the next generation of real time flood forecast
            systems, capable of providing accurate, timely and reliable information to support emergency management and response in areas
            impacted by multi-flood hazards. Our students are working on the complex dynamics of multi-flood hazards including storm surges,
            riverine flow, tidal oscillation and urban storm water systems. IFLOOD is a web based tool that integrates computational models
            capable of predicting the total water levels resulting from the interaction of these systems in real time and into the future.
        </p>
    </div>
</div>

<div class="statInsert">
    <h2>Forecast Skill (%)</h2>
    <div class="statRow">
        <div class="statBox" data-system="iFLOOD">
            <div class="label">iFLOOD</div>
            <div class="number">-</div>
        </div>
        <div class="statBox" data-system="ETSS">
            <div class="label">ETSS</div>
            <div class="number">-</div>
        </div>
        <div class="statBox" data-system="CBOFS">
            <div class="label">CBOFS</div>
            <div class="number">-</div>
        </div>
        <div class="statBox" data-system="ESTOFS">
            <div class="label">ESTOFS</div>
            <div class="number">-</div>
        </div>
    </div>
    <div class="exploreLink">
        <a href="/map">Explore</a>
        <img src="/chevron.svg">
    </div>
</div>
<script src="/statInsert.js"></script>

<h2>Current operational systems:</h2>
<div class="modelCards">
    <a class="modelCard" href="regional" style="background-image: url('ches_bay.jpg')">
        <div class="cardText">Regional</div>
    </a>
    <a class="modelCard" href="river" style="background-image: url('potomac.jpg')">
        <div class="cardText">River</div>
    </a>
    <a class="modelCard" href="coastal" style="background-image: url('erosion.png')">
        <div class="cardText">Coastal</div>
    </a>
</div>

<h2>Developers</h2>
<div class="profileRow prof">
    <div class="profileImage">
        <a href="celso.jpg"><img alt="Dr. Celso Ferreira" src="celso.jpg"></a>
    </div>
    <div class="profileDetails">
        <h3>Celso Ferreira</h3>
        Associate Professor, Water Resources Engineering<br>
        Telephone: (703) 993-1782<br>
        Fax: (703) 993-9790<br>
        Email: <a href="mailto:cferrei3@gmu.edu">cferrei3@gmu.edu</a><br>
        1411 Nguyen Engineering Building<br>
        <a href="http://frg.vse.gmu.edu">Ferreira Research Group Website</a>
    </div>
</div>

<div class="developerGrid">
    <div class="profileBox">
        <div class="profileImage" style="background-image: url('Arslaan.jpg')"></div>
        <div class="name">Arslaan Khalid</div>
        <div class="profileDetails">
            Forecast Model Developer<br>
            Ph.D. Student (Water Resources Engineering)<br><br>
            M.S. Civil Engineering, GMU, USA<br>
            B.S. Civil Engineering, NUST, Pakistan<br>
	    <br>
            Telephone: (703)678-9528<br>
            Email: <a href="mailto:akhalid6@gmu.edu">akhalid6@gmu.edu</a><br>
        </div>
    </div>
    <div class="profileBox">
        <div class="profileImage" style="background-image: url('william.jpg');"></div>
        <div class="name">William O'Connell</div>
        <div class="profileDetails">
            Web Developer<br><br>
            Thomas Jefferson High School<br>
            2018 Mentorship Program<br>
            <br>
            Email: <a href='&#109;ailto&#58;wil%6&#67;ia%&#54;&#68;%&#52;0&#119;%&#54;9l&#108;iam&#111;co&#110;&#37;6&#69;e&#108;&#108;&#46;me'>will&#105;&#97;&#109;&#64;williamo&#99;onnell&#46;&#109;e</a><br>
            Website: <a href="https://williamoconnell.me">https://williamoconnell.me</a>
        </div>
    </div>
    <div class="profileBox">
        <div class="profileImage" style="background-image: url('tmiesse.jpg');"></div>
        <div class="name">Tyler Miesse</div>
        <div class="profileDetails">
            Forecast Model Developer<br><br>
            Civil, Environmental and Infrastructural Engineering, George Mason University<br>
            Senior (Graduating in Fall 2018) <br><br>
            Telephone: 757.818.0429<br>
            Email: <a href="mailto:tmiesse@masonlive.gmu.edu">tmiesse@masonlive.gmu.edu</a>
        </div>
    </div>
    <div class="profileBox">
        <div class="profileImage" style="background-image: url('Juan.jpg');"></div>
        <div class="name">Juan Luis Garzon Hervas</div>
        <div class="profileDetails">
            Ph.D Student, Dept. of Civil, Environmental & Infrastructure Engineering<br><br>
            Telephone: (571) 363-6019<br>
            Email: <a href="mailto:jgarzon3@gmu.edu">jgarzon3@gmu.edu</a><br>
            <a href="http://mason.gmu.edu/~jgarzon3/" >Personal Research Web Page</a>
        </div>
    </div>
    <div class="profileBox">
        <div class="profileImage" style="background-image: url('Seth.jpg');"></div>
        <div class="name">Seth Lawler</div>
        <div class="profileDetails">
            M.S. Civil and Environmental Engineering<br>
            <br>
            Water Resources Engineer<br>
            Resilience Solutions Group<br>
            Dewberry<br>
            <br>
            Telephone: 703.849.0213<br>
            Email: <a href="mailto:slawler@Dewberry.com">slawler@Dewberry.com</a><br/>
            <a href="https://slawler.github.io/" >Personal Research Web Page</a>
            <a href="http://www.dewberry.com">www.dewberry.com</a>
        </div>
    </div>
    <div class="profileBox">
        <div class="profileImage" style="background-image: url('selina.jpg');"></div>
        <div class="name">Selina Jahan Sumi</div>
        <div class="profileDetails">
            M.S. in Civil Engineering, University of Louisiana at Lafayette<br><br>
            Telephone: 703.849.0213<br>
            Email: <a href="mailto:ssumi@masonlive.gmu.edu">ssumi@masonlive.gmu.edu</a>
        </div>
    </div>
    <div class="profileBox">
        <div class="profileImage" style="background-image: url('pp.jpg');"></div>
        <div class="name">Prachi Gupta</div>
        <div class="profileDetails">
            Software Engineer<br>
            Graduate  Student, Master of Science in Computer Science<br>
            George Mason University<br>
            Telephone: (571)-635-2563<br>
            Email: <a href="mailto:pgupta13@gmu.edu">pgupta13@gmu.edu</a><br>
            <a href="https://d6peb2sambjsc.cloudfront.net/">Web Link</a><br>
        </div>
    </div>
    <div class="profileBox">
        <div class="profileImage" style="background-image: url('wang.jpg');"></div>
        <div class="name">Christine Wang</div>
        <div class="profileDetails">
            Thomas Jefferson High School<br>
            2016 Mentorship Program<br>
        </div>
    </div>
</div>

<h1>Special Thanks</h1>
<p>GMU iFLOOD uses icons by <a href="https://thenounproject.com/web11/">JEREMIE SOMMET</a> from <a href="https://thenounproject.com/">The Noun Project</a>.</p>
<p>Some map data uses color schemes from <a href="https://arxiv.org/abs/1509.03700">Peter Kovesi. Good Colour Maps: How to Design Them.</a></p>

<script>
    function size() {
        let idealWidth = Math.floor(($('#content')[0].clientWidth-20) / 215 - 1) * 215 + 214;
        $('.developerGrid').css({
            "width": idealWidth + "px"
        });
    }
    $(window).resize(size);
    size();
    $('.profileBox .profileImage').click(function() {
        if ($(this).parent().hasClass('expanded')) {
            $(this).parent().removeClass('expanded');
        }
        else {
            $('.profileBox').removeClass('expanded');
            $(this).parent().addClass('expanded');
        }
    })
</script>