<h1>Model Comparison</h1>

<div class="mapGrid">
    <div class="mapContainer" id="mapContainer0">
        <div class="mapLabel">iFLOOD</div>
        <div class="map" id="map0"></div>
    </div>
    <div class="mapContainer" id="mapContainer1">
        <div class="mapLabel">ETSS</div>
        <div class="map" id="map1"></div>
    </div>
    <div class="mapContainer" id="mapContainer2">
        <div class="mapLabel">ESTOFS</div>
        <div class="map" id="map2"></div>
    </div>
    <div class="mapContainer" id="mapContainer3">
        <div class="mapLabel">CBOFS</div>
        <div class="map" id="map3"></div>
    </div>
</div>


<script defer src="/map/mapstyles.js"></script>
<script defer src="/map/mapdata.js"></script>
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiVbvW_iR0XpeBe-ojS7NjxMEDkpf0BOA&libraries=places"></script>
<script defer src="/map/mapbundle.js"></script>
<script defer src="meta.js"></script>