@import '../colors.scss';

#statTabContainer {
    display: flex;
    border-bottom: solid 1px #AAA;
    height: 32px;
    margin-bottom: 20px;
    .tab {
        flex: 0 0 170px;
        font-size: 22px;
        text-align: center;
        padding: 2px 0;
        background-color: lighten($bg_dark,8%);
        height: 31px;
        border: solid 1px #AAA;
        border-bottom: none;
        border-radius: 5px 5px 0 0;
        box-shadow: inset 0 -12px 10px -8px rgba(0,0,0,0.2);
        cursor: pointer;
        &.current {
            height: 32px;
            top: 1px;
            background-color: $bg_dark;
            box-shadow: none;
        }
    }
}

.mapGrid {
    position: relative;
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#scaleCanvas {
    width: 100%;
    max-width: 350px;
    height: 80px;
}
@media screen and (min-width: 350px) {
    #scaleCanvas {
        width: 350px;
        margin: 0 calc(50% - 175px);
    }
}
@media screen and (min-width: 1000px) {
    #scaleCanvas {
        position: absolute;
        transform: rotate(-90deg);
        right: -390px;
        top: 340px;
    }
}

.mapContainer {
    flex: 1 0 300px;
    margin: 0 10px 30px;
    .mapLabel {
        font-size: 32px;
        text-align: center;
    }
}
.map {
    width: 300px;
    height: 300px;
    margin: auto;
}